site_name: Trading Research Portfolio
site_author: Harry Larkin

theme:
  name: material

markdown_extensions:
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.details

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - White Letter:
      - Residual-Blowout Filter: projects/residual-blowout-filter.md
